body{
    background-image:url(../src/img/background-image.jpg);
    background-repeat: repeat;
    background-size: 15em;
}
.navbarbg{
    background-color: #2f0b45;
}
.navbar{
    background-color: rgb(47, 11, 69);
}
.Operators-row{
    /* max-width: 1200px; */
}
.video{
     border: solid 2px #2f0b45;
     position: relative;
     
}
.video video{
    width: 100%;
}
.video-player-user{
    background-image:url(./img/kisspng-avatar-user-medicine-surgery.jpg)
}
