body{
    background-image:url(../src/img/background-image.jpg);
    background-repeat: repeat;
    background-size: 15em;
}
.navbarbg{
    background-color: #2f0b45;
}
.navbar{
    background-color: rgb(47, 11, 69);
}