.container{
position: relative;
overflow: hidden;
    height: 100%;
    padding: 15px;
}
.video_row{
  display: flex;
  flex-direction: column;
}
.wraper_callBtn{
      display: flex;
    justify-content: center;
}
.callBtn{
    position: absolute;
      border: none;
    min-width: 139px;
    min-height: 139px;
    border-radius:56px;
    background-image:url(../img/call_management.icon.png);
    background-clip: border-box;
    background-position: -2px -1px;
    bottom: 50px;
}

.video{
     border: solid 2px #2f0b45;
     
     
}
.video video{
    width: 100%;
}
.video_player_operator{
  background-color: white;
    background-image:url(../img/png-clipart-customer-service-call-centre.png.gif);
     background-clip: border-box;
     background-repeat: no-repeat;
     background-position: center;
    background-size: 100px 100px;
}
.video_player_little{

  position: absolute;
  border: none;
  bottom:30%;
  z-index: 15;
 width:200px;
 right: 0;
 bottom:50px;
}
.video_player_little video{
  background-size: 50px 50px;
}